<div class="container">
    <fieldset class="text-white">
        <div class="row">
            <div class =""> <img
                alt=""  [src]="image">
            </div>

            <div class="form-fields">
                <div class="form-group">
                    <input type="text" class="form-control product-name" 
                        placeholder="{{product.name}}" readonly>
                </div>
                <div class="form-group">
                    <label for="minTemp">Минималната температура (°C)</label>
                    <input type="text" class="form-control product-field" 
                        placeholder="{{product.minTemp}}" readonly>
                </div>
                <div class="form-group">
                    <label for="maxTemp">Максимална температура (°C)</label>
                    <input type="text" class="form-control product-field" 
                        placeholder="{{product.maxTemp}}" readonly>
                </div>

                <div class="form-group">
                    <label for="airHumidity">Влажност на въздуха (%)</label>
                    <input type="text" class="form-control product-field" 
                        placeholder="{{product.airHumidity}}" readonly>
                </div>

                <div class="form-group">
                    <label for="groundHumidity">Влажност на почвата (%)</label>
                    <input type="text" class="form-control product-field" 
                        placeholder="{{product.groundHumidity}}" readonly>
                </div>
            </div>
        </div>
        <div class="form-group notes">
            <label class="field-title text-border">Записки</label>
            <textarea class="form-control rounded-1 col" placeholder="{{product.notes}}" readonly></textarea>
        </div>

    </fieldset>

</div>