.container{
    width: 700px;
}

.product-name{
    font-size: 30px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color:black
}

.form-group>label{
    display:inline-block;
    font-weight: 500;
    width: 220px;
}

.form-group>.product-field{
   width: 200px;
   display:inline-block;
   background-color: white;
}

.row{
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.form-fields{
    margin-right: 5px;
    margin-top: 35px;
}
.form-group{
    flex-grow: 3;
}

.form-group>textarea{
    width: 680px;
    height: 100px;
    background-color: white;
 }

#button-holder{
    float:right;
    margin-right: -10px;
}

 #button-holder>button{
    background-color:#FF9E12;
    color:white;
    width:147px;
    height: 39px;
 }

 .product-name{
     width: 420px;
 }

 img{
    display:inline-block;
    font-size:2em;
    width:8em;
    height: 7em;
    border: 1px solid #CDCDCD;
    position:relative;
    margin-top:1.25em;  
    margin-right:30px
 }
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

  .notes{
      margin-left:-20px
  }